body {
  margin: 0;
}

.battle-ground {
  background-image: url(../assets/battleground.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.teams {  /* adfasdf;ladjsf;lakdjsf;ladjksf */
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.vs {
  display: flex;
  align-items: center;
  background-image: url(../assets/vs.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  min-width: 190px;
}
.empty-pokemon {
  background: url(../assets/add.png) no-repeat center center;
  min-width: 80px;
  min-height: 80px;
  background-size: 100%;
  cursor: pointer;
}